* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ffa726;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}

header > h1 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

.site-footer {
  margin-top: auto;
  background-color: #ffa726;
  color: white;
  text-align: center;
  padding: 15px;
}
